.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.7em 7em;
  position: fixed;
  background-color: var(--secondary-color);
  top: 0;
  right: 0;
  width: 100%;
}

.navBar-options,
.navBar-options__icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.5em 0.5em;
}

.navBar-options__link,
.navBar-options__icon {
  padding: 0 0.5em;
  font-weight: 400;
  font-size: 1em;
}

.navBar-options__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 0.8em;
  height: 0.8em;
}

.navBar-contact__button {
  background: var(--main-color);
  border-radius: 6px;
  gap: 10px;
  padding: 12px 21px;
  color: var(--secondary-color);
}

.container {
  display: none;
}

@media screen and (max-width: 600px) {
  .navBar {
    justify-content: flex-end;
    padding: 0 2em;
  }

  .navBar-options {
    display: none;
  }

  .navBar-contact {
    display: none;
  }

  .cabecalho__menu-hamburguer {
    width: 1em;
    height: 1em;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .container__imagem {
    padding: 1em;
  }

  .lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--main-color);
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
  }

  .container__botao:checked ~ .lista-menu {
    display: block;
    opacity: 1;
  }

  .lista-menu__titulo,
  .lista-menu__item {
    padding: 1em;
    background-color: var(--main-color);
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    border-top: var(--secondary-color) 1px solid;
  }
  .container__botao:checked ~ .container__label > .cabecalho__menu-hamburguer {
    background-image: url("../img/openMenu.svg");
    background-color: var(--main-color);
  }

  .container__botao {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
